
# Ignore secrets file
secrets.md
*.key

# Local database and configuration
ftm-app.sqlite
ftm-feed-config.ini

docker-ftm-app.sqlite
docker-ftm-feed-config.ini

# Build artifacts
.out/
.sbom/

# Ignore macOS system files
.DS_Store
